@import '../../styles/vars';

.footer {
    background-color: $figColor;
    text-align: center;
    
    

    @media(min-width: $breakpointDesktop) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        } 
    

    .footer_icon_tako {
      width: 15%;

      @media(min-width: $breakpointDesktop) {
        width: 20%;
        
        } 
    }

    .footer_icons_right {
        

      .footer_icon_linkedin {
          width: 20%;

          @media(min-width: $breakpointDesktop) {
            width: 40%;
            
        } 
        
  
      }
      .footer_icon_github {
          width: 20%;

          @media(min-width: $breakpointDesktop) {
            width: 40%;
            
        } 
  
      }
    }
  }