@import '../../styles/vars';

.experience {
    background-color: #8f91c0;

    .experience_back {
        width: 90px;
    }

    .experience_title {
        width: 50%;
        margin: auto;
        text-align: center;
        background-color: $figColor;
        color: #8f91c0;
        border-radius: 10px;
        margin-bottom: 50px;

        @media(min-width: $breakpointDesktop) {
            width: 40%;
        } 
    }
    .experience_introduction {
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
    }

    .experience_items {

        .experience_line {
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            height: 5px;
            background: $figColor 0% 0% no-repeat padding-box;
            border-radius: 3px;
            margin-bottom: 50px;
            margin-top: 50px;

            @media(min-width: $breakpointDesktop) {
                width: 300px;
            } 
        }

        .experience_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .experience_item_image {
                width: 70%;
            }

            .experience_item_list_1 {
                border: 2px solid $figColor;
                border-radius: 10px;
                width: 60%;
            }

            .experience_item_list_2 {
                border: 2px solid $figColor;
                border-radius: 10px;
                width: 60%;
            }
        }
    }
}