@import '../../styles/vars';

.experience {
    //couleur à réflechir
    background-color: #e7f969;
    padding-bottom: 50px;
    

    .experience_back {
        width: 90px;
    }

    .experience_title {
        width: 50%;
        margin: auto;
        text-align: center;
        background-color: $figColor;
        color: #e7f969;
        border-radius: 10px;
        margin-bottom: 50px;

        @media(min-width: $breakpointDesktop) {
            width: 40%;
            margin-bottom: 100px;
        } 
    }
    .experience_introduction {
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
        color: $darkFigColor;
        @media(min-width: $breakpointDesktop) {
            width: 70%;
            text-align: center;
            margin-bottom: 100px;
        } 
    }

    .experience_items {
        display: flex;
        flex-wrap: wrap;
        color: $darkFigColor;

        
        
        .experience_line {
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            height: 5px;
            background: $figColor 0% 0% no-repeat padding-box;
            border-radius: 3px;
            margin-bottom: 50px;
            margin-top: 50px;

            @media(min-width: $breakpointDesktop) {
                display: none;
                
            } 
        }

        .experience_item {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media(min-width: $breakpointDesktop) {
                width: 30%;
                
                
                
            } 
            
            .experience_item_image {
                width: 70%;
            }

            .experience_item_list_1 {
                border: 2px solid $figColor;
                border-radius: 10px;
                width: 60%;

                @media(min-width: $breakpointDesktop) {
                    width: 70%;
                    
                } 
            }

            .experience_item_list_2 {
                border: 2px solid $figColor;
                border-radius: 10px;
                width: 60%;

                @media(min-width: $breakpointDesktop) {
                    width: 70%;
                    
                } 
            }
        }

        @media(min-width: $breakpointDesktop) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
        }
        
    }
}