@import '../../styles/vars';

.cv {
    // background-color: #e5edec;
    background: linear-gradient(0deg, #e3cc98, #e7dfc9, #d1e1e1, #83bbd0, #35748f);
    padding-bottom: 100px;
    color: $figColor;

    .cv_back {
        width: 90px;
    }

    .cv_title {
        width: 50%;
        margin: auto;
        text-align: center;
        background-color: $figColor;
        color: #e5edec;
        border-radius: 10px;

        @media(min-width: $breakpointDesktop) {
            width: 40%;
        }
    }

    .cv_link {
        text-align: center;
        .cv_link_legend {
            font-style: italic;
            margin-bottom: 0;
        }

        @media(min-width: $breakpointDesktop) {
            margin-top: 50px;
        }
    }

    .cv_items {

        .cv_item {
            width: 80%;
            margin: auto;
            margin-top: 50px;
            

            

            @media(min-width: $breakpointDesktop) {
                width: 50%;
            }

            .cv_item_title_container {
                display: flex;
                text-align: center;
                align-items: center;
                

                @media(min-width: $breakpointDesktop) {
                    justify-content: center;
                }  
            }

            .cv_item_subtitle {
                text-align: center;
                font-style: italic;

                @media(min-width: $breakpointDesktop) {
                    margin-bottom: 50px;
                } 
            }

            .cv_item_text{
                width: 100%;
                margin: auto;
                border: 1px solid $figColor;
                border-radius: 10px;

                @media(min-width: $breakpointDesktop) {
                    width: 70%;
                    padding-left: 90px;
                } 
                
            }

            .cv_item_line {
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                width: 200px;
                height: 2px;
                background: $figColor 0% 0% no-repeat padding-box;
                border-radius: 3px;

                @media(min-width: $breakpointDesktop) {
                    display: none;
                } 
            }


            
        }
        
    }
}